{% extends 'base.html' %}
{% block title %} index {% endblock %}
{% block content %}


{% for y in brand %}
<b>
    <h1 class="brand text-center">{{y.title}}</h1>
</b>
<hr>
<div class="block">
    {% for i in card %}
    {% if i.category == y %}
    <div class="card">
        <a href="{% url 'more' id=i.id %}"><img src="{{i.image.url}}" class="card-img-top img" alt=""></a>
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'more' id=i.id %}" class="more">{{i.title}}</a></h5>
            <p class="card-text"><a class="more" href="{% url 'more' id=i.id %}">{{i.description}}</a></p>
            <div class="between">
                <a href="#" class="btn btn-primary">{{i.price}} $</a>
                <a href="{% url 'addCart' pk=i.id %}" class="m-2 btn btn-primary">Add to cart</a>
                <a href="{% url 'more' id=i.id %}" class="m-2 btn btn-primary">More</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}

{% endblock %}