{% extends 'base.html' %}
{% block title %} more {% endblock %}
{% block content %}


<div class="block">
    <div>
        <img class="img1" src="{{more.image.url}}" class="card-img-top m-3" alt="">
    </div>
    <div class="box2">
        <h1 class="card-title1">{{more.title}}</h1>
        <h3 class="card-text1">{{more.description}}</h3>
        <div class="between1">
            <a href="#" class="btn btn-primary">{{more.price}} $</a>
            <a href="{% url 'addCart' pk=more.id %}" class="m-2 btn btn-primary">Add cart</a>
        </div>
    </div>
</div>

{% endblock %}